div {
    position: absolute;
    left: 45vw;
    top: 35vh;
}

h1 {
    position: absolute;
    left: 44.5vw;
    top: 27vh;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    text-align: center;
    font-size: 20px;
}

input {
    padding: 10px;
}

body {
    background-color: rgba(66, 33, 99, 0.3);
    color: rgb(255, 128, 0);
}